<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Boom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BoomParticle.png</string>
            <key>size</key>
            <string>{202,202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c495af90657cf3f9e2ecef19fbccfbd:b6353f0fd96ddada725a08e4f2278e4f:7631fdc5c57499fa428280750aa2b966$</string>
            <key>textureFileName</key>
            <string>BoomParticle.png</string>
        </dict>
    </dict>
</plist>
