<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>X3Show.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{902,1824},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,53}</string>
                <key>spriteSourceSize</key>
                <string>{60,53}</string>
                <key>textureRect</key>
                <string>{{849,1959},{60,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>addSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,42}</string>
                <key>spriteSourceSize</key>
                <string>{34,42}</string>
                <key>textureRect</key>
                <string>{{466,1579},{34,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bestSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,22}</string>
                <key>spriteSourceSize</key>
                <string>{46,22}</string>
                <key>textureRect</key>
                <string>{{69,2005},{46,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,1136}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,1136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,65}</string>
                <key>spriteSourceSize</key>
                <string>{124,65}</string>
                <key>textureRect</key>
                <string>{{785,1023},{124,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgLight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,317}</string>
                <key>spriteSourceSize</key>
                <string>{317,317}</string>
                <key>textureRect</key>
                <string>{{643,1},{317,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boomCard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,233}</string>
                <key>spriteSourceSize</key>
                <string>{172,233}</string>
                <key>textureRect</key>
                <string>{{234,1805},{172,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>borderLight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,70}</string>
                <key>spriteSourceSize</key>
                <string>{74,70}</string>
                <key>textureRect</key>
                <string>{{718,1960},{74,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnBg4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,53}</string>
                <key>spriteSourceSize</key>
                <string>{45,53}</string>
                <key>textureRect</key>
                <string>{{608,1985},{45,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnBg5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,53}</string>
                <key>spriteSourceSize</key>
                <string>{45,53}</string>
                <key>textureRect</key>
                <string>{{663,1985},{45,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnBg6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,53}</string>
                <key>spriteSourceSize</key>
                <string>{45,53}</string>
                <key>textureRect</key>
                <string>{{911,1023},{45,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnBg7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,53}</string>
                <key>spriteSourceSize</key>
                <string>{45,53}</string>
                <key>textureRect</key>
                <string>{{388,1979},{45,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnBg8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,53}</string>
                <key>spriteSourceSize</key>
                <string>{45,53}</string>
                <key>textureRect</key>
                <string>{{466,1524},{45,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardSlot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,173}</string>
                <key>spriteSourceSize</key>
                <string>{122,173}</string>
                <key>textureRect</key>
                <string>{{643,1616},{122,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{26,30}</string>
                <key>textureRect</key>
                <string>{{930,1750},{26,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>close1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{26,30}</string>
                <key>textureRect</key>
                <string>{{930,1778},{26,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>closeBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,110}</string>
                <key>spriteSourceSize</key>
                <string>{98,110}</string>
                <key>textureRect</key>
                <string>{{840,1546},{98,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>continueSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,60}</string>
                <key>spriteSourceSize</key>
                <string>{53,60}</string>
                <key>textureRect</key>
                <string>{{794,1960},{53,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crownSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,27}</string>
                <key>spriteSourceSize</key>
                <string>{28,27}</string>
                <key>textureRect</key>
                <string>{{767,1833},{28,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cutBtnBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,75}</string>
                <key>spriteSourceSize</key>
                <string>{142,75}</string>
                <key>textureRect</key>
                <string>{{469,1886},{142,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cutSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,67}</string>
                <key>spriteSourceSize</key>
                <string>{72,67}</string>
                <key>textureRect</key>
                <string>{{469,1963},{72,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>descriptSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,102}</string>
                <key>spriteSourceSize</key>
                <string>{112,102}</string>
                <key>textureRect</key>
                <string>{{840,1090},{112,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>discardBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,53}</string>
                <key>spriteSourceSize</key>
                <string>{45,53}</string>
                <key>textureRect</key>
                <string>{{779,1090},{45,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>discardSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,74}</string>
                <key>spriteSourceSize</key>
                <string>{59,74}</string>
                <key>textureRect</key>
                <string>{{885,775},{59,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{514,328}</string>
                <key>spriteSourceSize</key>
                <string>{514,328}</string>
                <key>textureRect</key>
                <string>{{1,1139},{514,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameLogo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{463,334}</string>
                <key>spriteSourceSize</key>
                <string>{463,334}</string>
                <key>textureRect</key>
                <string>{{1,1469},{463,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guideBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{475,321}</string>
                <key>spriteSourceSize</key>
                <string>{475,321}</string>
                <key>textureRect</key>
                <string>{{517,1139},{475,321}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guideClose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,65}</string>
                <key>spriteSourceSize</key>
                <string>{63,65}</string>
                <key>textureRect</key>
                <string>{{702,1791},{63,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guideHand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{74,105}</string>
                <key>textureRect</key>
                <string>{{825,1750},{72,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>homeSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,102}</string>
                <key>spriteSourceSize</key>
                <string>{112,102}</string>
                <key>textureRect</key>
                <string>{{840,1204},{112,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ling.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,40}</string>
                <key>spriteSourceSize</key>
                <string>{15,40}</string>
                <key>textureRect</key>
                <string>{{443,1979},{15,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>musicOffSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,102}</string>
                <key>spriteSourceSize</key>
                <string>{112,102}</string>
                <key>textureRect</key>
                <string>{{840,1318},{112,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>musicOnSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,102}</string>
                <key>spriteSourceSize</key>
                <string>{112,102}</string>
                <key>textureRect</key>
                <string>{{840,1432},{112,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,24}</string>
                <key>spriteSourceSize</key>
                <string>{66,24}</string>
                <key>textureRect</key>
                <string>{{1,2005},{66,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>no_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{614,1802},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>overBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,56}</string>
                <key>spriteSourceSize</key>
                <string>{215,56}</string>
                <key>textureRect</key>
                <string>{{767,1616},{215,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>overDown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,94}</string>
                <key>spriteSourceSize</key>
                <string>{60,94}</string>
                <key>textureRect</key>
                <string>{{643,1075},{60,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>overHeadMask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,140}</string>
                <key>spriteSourceSize</key>
                <string>{237,140}</string>
                <key>textureRect</key>
                <string>{{643,836},{237,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>overPlayerBorder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,51}</string>
                <key>spriteSourceSize</key>
                <string>{50,51}</string>
                <key>textureRect</key>
                <string>{{234,1979},{50,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>overUp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,93}</string>
                <key>spriteSourceSize</key>
                <string>{59,93}</string>
                <key>textureRect</key>
                <string>{{790,775},{59,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pauseBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{514,145}</string>
                <key>spriteSourceSize</key>
                <string>{514,145}</string>
                <key>textureRect</key>
                <string>{{643,320},{514,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pauseBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{117,2005},{18,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{286,1979},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerBg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{708,1858},{100,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rankBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,185}</string>
                <key>spriteSourceSize</key>
                <string>{175,185}</string>
                <key>textureRect</key>
                <string>{{785,836},{175,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>replaySprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,102}</string>
                <key>spriteSourceSize</key>
                <string>{112,102}</string>
                <key>textureRect</key>
                <string>{{825,1646},{112,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>selectBorder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,218}</string>
                <key>spriteSourceSize</key>
                <string>{168,218}</string>
                <key>textureRect</key>
                <string>{{790,555},{168,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shareBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,184}</string>
                <key>spriteSourceSize</key>
                <string>{175,184}</string>
                <key>textureRect</key>
                <string>{{466,1616},{175,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shareSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,53}</string>
                <key>spriteSourceSize</key>
                <string>{46,53}</string>
                <key>textureRect</key>
                <string>{{466,1469},{46,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skinBg0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,63}</string>
                <key>spriteSourceSize</key>
                <string>{61,63}</string>
                <key>textureRect</key>
                <string>{{890,1884},{61,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skinBg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{72,74}</string>
                <key>textureRect</key>
                <string>{{760,1884},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skinClose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,93}</string>
                <key>spriteSourceSize</key>
                <string>{93,93}</string>
                <key>textureRect</key>
                <string>{{613,1890},{93,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skinIocn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,56}</string>
                <key>spriteSourceSize</key>
                <string>{75,56}</string>
                <key>textureRect</key>
                <string>{{825,1824},{75,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skinLock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,75}</string>
                <key>spriteSourceSize</key>
                <string>{54,75}</string>
                <key>textureRect</key>
                <string>{{834,1882},{54,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,198}</string>
                <key>spriteSourceSize</key>
                <string>{231,198}</string>
                <key>textureRect</key>
                <string>{{1,1805},{231,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unlockSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,56}</string>
                <key>spriteSourceSize</key>
                <string>{38,56}</string>
                <key>textureRect</key>
                <string>{{739,1075},{38,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x3Card.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,233}</string>
                <key>spriteSourceSize</key>
                <string>{167,233}</string>
                <key>textureRect</key>
                <string>{{790,320},{167,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xBtnBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,82}</string>
                <key>spriteSourceSize</key>
                <string>{143,82}</string>
                <key>textureRect</key>
                <string>{{469,1802},{143,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,63}</string>
                <key>spriteSourceSize</key>
                <string>{67,63}</string>
                <key>textureRect</key>
                <string>{{543,1963},{67,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UIView.png</string>
            <key>size</key>
            <string>{961,2031}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a454a21cd36dd3053c5f3efd482d6bcf:006984b6f876473ce14f0e77849a7d7e:1fc3e4cc01577135d7e1e30e9d05abd1$</string>
            <key>textureFileName</key>
            <string>UIView.png</string>
        </dict>
    </dict>
</plist>
